
* {
    font-family: Poppins, sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: normal;
}

section{
    margin:auto;
}

footer{
    max-width: 1400px;
    margin: auto;
}

body{
    max-width:1200px;
    margin: auto;
}

.page-margin{
    margin:auto;
    max-width:1200px;
}

.nav {
    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
    max-width:1200px;
    
}
.nav-bar-wrapper{
    display:flex;
    justify-content:space-between;
    width:100%;
    
}
.row{
    display:flex;
    flex-direction: row;
}
.row-centered{
    align-items: center;
}

.row-reverse{
    flex-direction:row-reverse;
}
.content-container {
     max-width: 1200px;
     padding: 0 20px;
     
}

.column{
    display: flex;
    flex-direction: column;
}

.column-centered{
    align-items: center;
}

.column-start{
    align-items: flex-start;
}



#app-logo{
    height: 40px;
    margin-right: 16px;
}

#app-title{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.875em;
    line-height: 28px;
    color: #173A56;
    
}

#app-logo-footer{
    height:29px;
    width: 32px;
    margin-right: 16px;
}

.nav-links-container > a {
    text-decoration:none;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-size: 1em;
    font-weight: 600;
    line-height: 28px;
    color: #22343D;
    margin: 0 15px; 
}
.primary-button{
    background-color:#02897A;
    border-radius: 4px;
    height: 43px;
    font-family: Poppins,sans-serif;
    font-weight: 600;
    font-style:normal;
    font-size: 1em;
    line-height: 26px;
    color:#ffffff;
    border: none;
    cursor:pointer;
    padding: 0 25px;
    white-space:pre;
}
.button-margin{
    margin-top:38px;
}

.primary-button-white{
        margin-top: 38px;
        background-color:#ffffff;
        border-radius: 4px;
        height: 43px;
        font-family: Poppins,sans-serif;
        font-weight: 600;
        font-style:normal;
        font-size: 1em;
        line-height: 26px;
        color:#02897A;
        border: none;
        cursor:pointer;
        padding: 0 25px;
        white-space:pre;
    }


.button-outlined{
    background-color:#ffffff;
    color:#173A56;
    border: 1px solid #BCD0E5;
}

.buttons-nav{
    margin: 0 12px;
}

.button-link{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #02897A;
    background-color: #ffffff;
    border: none;
    white-space: pre;
}

.button-link-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}


.switch-theme-button{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border-color: #F3F3F3;
    border:none;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;

}
#menu-icon{
    width: 28px;
    height: 31px;
    cursor: pointer;
}
.menu-icon{
    display: none;
}
#menu-collapse{
    display: none;
}
.content-left-col, .content-right-col{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #22343D;
}
.subtitle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #22343D;
}

.subtitle-centered{
    width: 50%;
}

.main-header{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #22343D;
}
.first-section-right-col{
    width: 100%;
    height: auto;
    pointer-events: none;
}

.section-2-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
}

.section-bg{
    background-image: url(./images/background-image.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    overflow: vissible;
    margin-top:110px;
}

.section-bg-inverted{
    background-image: url(./images/background-image-inverted.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    overflow: vissible;
}

.section-margin{
    margin-top: 150px;
}

.section-2-row > h2 {
    font-weight: 700;
    font-size: 2em;
    line-height: 48px;
    text-align: center;
    color: #22343D;
}
.section-4-cols-and-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
}
.section-4-cols{
    display: grid;
    width: auto;
    grid-template-areas: 
    "grid-col-1 grid-col-2 grid-col-3 grid-col-4";
    gap: 10px;
    padding-top: 60px;
    
}

.section-4-cols-footer{
    display: grid;
    width: auto;
    grid-template-areas: 
    "grid-col-1-f grid-col-2-f grid-col-3-f grid-col-4-f";
    gap: 10px;
    padding-top: 60px;
}

.section-4-cols-item-1{
    grid-area: grid-col-1;
}

.section-4-cols-item-1-footer{
    grid-area: grid-col-1-f;
}

.section-4-cols-item-2{
    grid-area: grid-col-2;
}

.section-4-cols-item-2-footer{
    grid-area: grid-col-2-f;
}

.section-4-cols-item-3{
    grid-area: grid-col-3;
}

.section-4-cols-item-3-footer{
    grid-area: grid-col-3-f;
}

.section-4-cols-item-4{
    grid-area: grid-col-4;
}

.section-4-cols-item-4-footer{
    grid-area: grid-col-4-f;
}

.section-4-cols  h5 {
    font-size:1.38em;
    font-weight: 600;
    line-height: 33px;
}

.section-4-cols p {
    font-size: 1em;
    line-height: 26px;
}

.section-4-cols-footer p {
    font-size: 1em;
    line-height: 26px;
}

.green-icon{
    width: 50px;
    height: 50px;
}
.blue-icon{
    width: 50px;
    height: 50px;
}
.purple-icon{
    width: 50px;
    height: 50px;
}
.orange-icon{
    width: 50px;
    height: 50px;
}

.section-4-cols > div {
    margin-top: 60px;
    margin-bottom: 30px;
    justify-content: flex-start;
}

.left-small-title{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #22343D;
}

.third-section-text > h6{
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
    margin: 20px 0 8px 0;
}
.third-section-text > h2{
    
    margin: 0;
}

.check-icon{
    height: 35px;
    width: 35px;
    margin-right: 30px;
}
.chat-section-left-col{
    margin-right: 90px;
}
.chat-section-right-col{
    margin-left: 90px;
}

.chat-box-left-up{
background-image: url("./images/chat-box-left-up.png");
background-size: cover;
background-repeat: no-repeat;
background-position-y: center;
margin-left: 16px;
width: auto;
overflow: visible;
padding: 10px;

}
.chat-box-left-down{
background-image: url("./images/chat-box-left-down.png");
background-size: cover;
background-repeat: no-repeat;
background-position-y: center;
margin-right: 16px;
width: auto;
overflow: visible;
padding: 10px;
}

.chat-box-right-up{
background-image: url("./images/chat-box-left-down.png");
background-size: cover;
background-repeat: no-repeat;
background-position-y: center;
margin-right: 16px;
width: auto;
overflow: visible;
padding: 10px;
}

.chat-box-right-down{
    background-image: url("./images/chat-box-left-up.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    margin-left: 16px;
    width: auto;
    overflow: visible;
    padding: 10px;
}
.button-chat-box{
    margin-top: 45px;
}

.section-7-container{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    margin-left: 30px;
    
}

.h2-title {
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: #22343D;
}
.section-3-cols{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    
    
}


.image-left{
    background-image: url(./images/image-section-7-left.png);
    width:auto;
    height: 185px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 8px;
}

.image-center{
    background-image: url(./images/image-section-7-center.png);
    width:auto;
    height: 185px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top;
    overflow:visible;
    border-radius: 8px;
}

.image-right{
 
        background-image: url(./images/image-section-7-right.png);
        width:auto;
        height: 185px;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: top;
        overflow:visible;
        border-radius: 8px;
    }
    
    .section-7{
        max-width: 1300px;
        margin:auto;
    }

    .section-price{
        max-width: 1110px;
        margin: auto;
    }


    .section-3-cols-item-1{
    margin: auto;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 8px;
    margin-right:32px;
    max-width: 350px;
    
}

.section-3-cols-item-1-price{
    margin-right: 80px;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 8px;
    padding-top: 24px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 32px;
}

.section-3-cols-item-1-testimonial{
    margin-right: 80px;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    display:flex;
    justify-content: flex-start;
    padding: 26px;
    border-radius: 8px;
    margin-right: 65px;
    align-items: flex-start;
    max-width:350px;
}

.section-3-cols-item-2{
    margin: auto;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 8px;
    max-width: 350px;
}

.section-3-cols-item-2-green{
    background-color:#02897A;
    color:#ffffff;
    box-sizing: border-box;
    border-radius: 8px;
    padding-top: 24px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 32px;
}

.section-3-cols-item-3{
    margin-left:auto;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 8px;
    margin-left: 32px;
    max-width: 350px;
}

.section-3-cols-item-3-price{
    margin-left:80px;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 8px;
    padding-top: 24px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 32px;
}

.section-3-cols-item-3-testimonial{
    margin-right: 80px;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 26px;
    border-radius: 8px;
    margin-left: 65px;
    max-width: 350px;
}

 .title-col{
    font-weight: 700;
    font-size: 1.5em;
    line-height: 40px;
    color: #22343D;
 }

 .title-col-green{
    font-weight: 700;
    font-size: 1.5em;
    line-height: 40px;
    color: #02897A;
 }

 .title-col-white{
    
        font-weight: 700;
        font-size: 1.5em;
        line-height: 40px;
        color: #ffffff;
     }  
 

 .text-bold{
     font-weight: 700;
 }

 .text-container{
     margin-left: 24px;
 }

 .three-dots{
     display:flex;
     justify-content: center;
     margin-top: 64px;
 }
.section-price-text{
 max-width: 537px;
 text-align: center;
 margin-bottom: 50px;

}
 .big-number{
    font-weight: 700;
    font-size: 4.75em;
    line-height: 100px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #02897A;
 }
 .big-number-white{
    font-weight: 700;
    font-size: 4.75em;
    line-height: 100px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #ffffff;
 }

.price-tag{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

.price-tag-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1px;
    color: #AFAFAF;
}

.price-tag-text-white{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1px;
    color: #ffffff;
}

.text-white{
    color:#ffffff;
}

.image-star-rating{
    width: 106px;
    height: 18px;
}

.testimonial-section{
    padding: 26px;
    align-items: flex-start;
}

.green-container{
    background-color:#02897A;
    border-radius: 32px;
    max-width: 960px;
    padding-left: 50px;
    padding-right: 36px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-top: 180px;
}

.green-container-text{
    font-weight: 600;
font-size: 32px;
line-height: 151.4%;
color: #FFFFFF;
}

.footer-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #22343D;

}

input[type=text]{
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    box-sizing: border-box;
    border-radius: 4px;
    max-width: 325px;
    height: 48px;
    margin-bottom: 21px;
}

.icon-instagram{
    margin-right: 16px;
}

.icon-facebook{
    margin-right: 16px;
}

.last-paragraph{
    margin: auto;
    text-align: center;
    margin-top: 30px;
}


 @media screen and (max-width: 1100px){
    .section-7-container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-3-cols{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:0;
    }

    .section-3-cols-item-1{
        border: none;
        margin:0;
    }

    .section-3-cols-item-2{
        border: none;
    }

    .section-3-cols-item-3{
        border: none;
        margin:0;
    }
    
    .three-dots{
        display:none;
    }
    
    .section-3-cols-item-1-price{
        margin:0;
        margin-bottom: 32px;
    }

    .section-3-cols-item-2-green{
        margin: 0;
        margin-bottom: 32px;
    }
    
    .section-3-cols-item-3-price{
        margin:0;
    }

    .section-3-cols-item-1-testimonial{
        margin: 0 ;
        margin-bottom: 32px;
    }

    .section-3-cols-item-2{
        margin: 0;
        margin-bottom: 32px;
        border: 1px solid #DEDEDE;
        box-sizing: border-box;
    }


}





@media screen and (max-width: 980px) {
    .nav{
        width: 100%;
    }

    .menu-icon{
        display: inline-block;
    }
    .nav-bar-button-container{
        position: absolute;
        width: 100%;
        top: 80px;
        flex-direction: column;
        background-color: #ffffff;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
        padding: 20px 10px;
        border-radius: 4px;
        transition: visibility 0.3s linear, opacity 0.3s linear;
    }

    .nav-links-container > a {
        display: block;
        width: 100%;
        padding: 5px 0;
    }
    .nav-bar-button-container > .action-buttons-container {
        padding: 10px 0px;
        flex-direction: column;
    }
    .nav-bar-button-container > .action-buttons-container > button {
        margin: 5px 0;
    }
    
    .nav-links-container > a:hover {
        text-decoration: underline;
    }

    .nav #menu-collapse:not(:checked) ~ .nav-bar-button-container{
        height: 0;
        visibility: hidden;
        opacity: 0;
        box-shadow: none;
    }
    
    .nav #menu-collapse:checked ~ .nav-bar-button-container{
        max-height: 100vh;
        height:auto;
    }
}

@media screen and (max-width: 890px){
    .green-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        max-width: 371px;
        margin-top: 100px;
    }

    .green-container-left-col{
        margin:0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }

    .green-container-right-col{
        margin: 0;
    }



}

@media screen and (max-width: 850px){
    
    .section-4-cols-footer{
        grid-template-areas: 
         "grid-col-1-f" 
         "grid-col-2-f"
         "grid-col-3-f" 
         "grid-col-4-f"
        ;
        gap: 0;
        margin: 0;
    }
    .section-4-cols-footer > div {
        margin: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }




}

@media screen and (max-width: 800px){
    .first-section{
        display: flex;
        flex-direction: column-reverse;
        margin:auto;
        justify-content: flex-start;
        align-items: center;
        width:100%;
    }
    .section-non-reverse{
        flex-direction: column;
        
    }
    
    .first-section-item{
        width: 100%;
        display: flex;
        flex-direction: flex-start;
        justify-content: center;
        text-align: center;
    }

    .section-4-cols{
        grid-template-areas: 
        "grid-col-1 grid-col-2"
        "grid-col-3 grid-col-4"
        ;
        gap: 30px;
    }
    .section-4-cols > div {
        margin: 0;
        justify-content: flex-start;

}
.chat-section{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
}
.chat-section-left-col{
    margin-top: 35px;
    margin-right:0%;
    margin-bottom: 32px;
}

.chat-section-right-col{
    margin-left:0%;
    display:flex;
    flex-direction: column-reverse;
}

@media screen and (max-width: 530px){
    .section-4-cols{
        grid-template-areas: 
         "grid-col-1" 
         "grid-col-2"
         "grid-col-3" 
         "grid-col-4"
        ;
        gap: 0;
        margin: 0;
    }
    .section-4-cols > div {
        margin: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
    
}
}